In [1]:
from pyspark.sql import *

In [2]:
Employee = Row("firstName","LastName","email","salary")

In [3]:
data1 = Employee("tanmay","salvi","tanmay@salvi.com",22000)

In [5]:
data2 = Employee("sarvesh","horambe","sarvesh@horambe.com",25000)
data3 = Employee("shubham","lakde","shubhamlakde@gmail.com",23000)
data4 = Employee("guru","murkar","gurudev@gmail.com",40000)
data5 = Employee("jignesh","sawant","jignesh@gmail.com",22000)

In [6]:
department1 = Row(id=1,name='tcs')
department2 = Row(id=2,name='pune')
department3 = Row(id=3,name='mumbai')

In [7]:
print(data1)

Row(firstName='tanmay', LastName='salvi', email='tanmay@salvi.com', salary=22000)

In [8]:
print(data1[0])

tanmay

In [9]:
company1 = Row(department=department1,teams=[data1,data5])
company2 = Row(department=department2,teams=[data2,data3])
company3 = Row(department=department3,teams=[data4])

In [11]:
print(department3)

Row(id=3, name='mumbai')

In [12]:
companydata = [company1,company2,company3]

In [14]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

In [15]:
df = spark.createDataFrame(companydata)

In [16]:
display(df)

DataFrame[department: struct<id:bigint,name:string>, teams: array<struct<firstName:string,LastName:string,email:string,salary:bigint>>]

In [17]:
df.show()

+-----------+--------------------+
| department|               teams|
+-----------+--------------------+
|   [1, tcs]|[[tanmay, salvi, ...|
|  [2, pune]|[[sarvesh, horamb...|
|[3, mumbai]|[[guru, murkar, g...|
+-----------+--------------------+

# Superheros data

In [18]:
pwd()

'C:\\Users\\Siddesh\\Desktop\\python dataframe'

In [21]:
df = spark.read.csv("C:\\Users\\Siddesh\\Desktop\\python dataframe\\superheros.csv", inferSchema = True, header = True)

In [22]:
df.show()

+---+-----------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|_c0|             name|Gender|Eye color|             Race|Hair color|Height|        Publisher|Skin color|Alignment|Weight|
+---+-----------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|  0|           A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|    Marvel Comics|         -|     good| 441.0|
|  1|       Abe Sapien|  Male|     blue|    Icthyo Sapien|   No Hair| 191.0|Dark Horse Comics|      blue|     good|  65.0|
|  2|         Abin Sur|  Male|     blue|          Ungaran|   No Hair| 185.0|        DC Comics|       red|     good|  90.0|
|  3|      Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|    Marvel Comics|         -|      bad| 441.0|
|  4|          Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
|  5|    Absorbing Man|  Male|     blue|            Human|   No Hair| 193.0|    Marvel Comics|         -|      bad| 122.0|
|  6|      Adam Monroe|  Male|     blue|                -|     Blond| -99.0|     NBC - Heroes|         -|     good| -99.0|
|  7|     Adam Strange|  Male|     blue|            Human|     Blond| 185.0|        DC Comics|         -|     good|  88.0|
|  8|         Agent 13|Female|     blue|                -|     Blond| 173.0|    Marvel Comics|         -|     good|  61.0|
|  9|        Agent Bob|  Male|    brown|            Human|     Brown| 178.0|    Marvel Comics|         -|     good|  81.0|
| 10|       Agent Zero|  Male|        -|                -|         -| 191.0|    Marvel Comics|         -|     good| 104.0|
| 11|       Air-Walker|  Male|     blue|                -|     White| 188.0|    Marvel Comics|         -|      bad| 108.0|
| 12|             Ajax|  Male|    brown|           Cyborg|     Black| 193.0|    Marvel Comics|         -|      bad|  90.0|
| 13|       Alan Scott|  Male|     blue|                -|     Blond| 180.0|        DC Comics|         -|     good|  90.0|
| 14|      Alex Mercer|  Male|        -|            Human|         -| -99.0|        Wildstorm|         -|      bad| -99.0|
| 15|     Alex Woolsly|  Male|        -|                -|         -| -99.0|     NBC - Heroes|         -|     good| -99.0|
| 16|Alfred Pennyworth|  Male|     blue|            Human|     Black| 178.0|        DC Comics|         -|     good|  72.0|
| 17|            Alien|  Male|        -|  Xenomorph XX121|   No Hair| 244.0|Dark Horse Comics|     black|      bad| 169.0|
| 18| Allan Quatermain|  Male|        -|                -|         -| -99.0|        Wildstorm|         -|     good| -99.0|
| 19|            Amazo|  Male|      red|          Android|         -| 257.0|        DC Comics|         -|      bad| 173.0|
+---+-----------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
only showing top 20 rows

In [23]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Eye color: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Hair color: string (nullable = true)
 |-- Height: double (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Skin color: string (nullable = true)
 |-- Alignment: string (nullable = true)
 |-- Weight: double (nullable = true)

In [25]:
df.filter(df.Gender == 'Male').count()

505

In [27]:
df.groupby("Race")\
.count()\
.show()

+-----------------+-----+
|             Race|count|
+-----------------+-----+
|            Human|  208|
|    Icthyo Sapien|    1|
|          Ungaran|    1|
|Human / Radiation|   11|
|    Cosmic Entity|    4|
|                -|  304|
|           Cyborg|   11|
|  Xenomorph XX121|    1|
|          Android|    9|
|          Vampire|    2|
|           Mutant|   63|
|    God / Eternal|   14|
|         Symbiote|    9|
|        Atlantean|    5|
|            Alien|    7|
|         Neyaphem|    1|
|          New God|    3|
|            Alpha|    5|
|          Bizarro|    1|
|          Inhuman|    4|
+-----------------+-----+
only showing top 20 rows

In [32]:
df.sort((df.Weight).desc()).show()

+---+--------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|_c0|          name|Gender|Eye color|             Race|Hair color|Height|    Publisher|Skin color|Alignment|Weight|
+---+--------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|575|     Sasquatch|  Male|      red|                -|    Orange| 305.0|Marvel Comics|         -|     good| 900.0|
|373|    Juggernaut|  Male|     blue|            Human|       Red| 287.0|Marvel Comics|         -|  neutral| 855.0|
|203|      Darkseid|  Male|      red|          New God|   No Hair| 267.0|    DC Comics|      grey|      bad| 817.0|
|549|      Red Hulk|  Male|   yellow|Human / Radiation|     Black| 213.0|Marvel Comics|       red|  neutral| 630.0|
|283|       Giganta|Female|    green|                -|       Red|  62.5|    DC Comics|         -|      bad| 630.0|
|331|          Hulk|  Male|    green|Human / Radiation|     Green| 244.0|Marvel Comics|     green|     good| 630.0|
|119|      Bloodaxe|Female|     blue|            Human|     Brown| 218.0|Marvel Comics|         -|      bad| 495.0|
|718|     Wolfsbane|Female|    green|                -|    Auburn| 366.0|Marvel Comics|         -|     good| 473.0|
|657|        Thanos|  Male|      red|          Eternal|   No Hair| 201.0|Marvel Comics|    purple|      bad| 443.0|
|  0|        A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|Marvel Comics|         -|     good| 441.0|
|  3|   Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|Marvel Comics|         -|      bad| 441.0|
|611|Solomon Grundy|  Male|    black|           Zombie|     White| 279.0|    DC Comics|         -|      bad| 437.0|
|229|      Doomsday|  Male|      red|            Alien|     White| 244.0|    DC Comics|         -|      bad| 412.0|
|614|         Spawn|  Male|    brown|            Demon|     Black| 211.0| Image Comics|         -|     good| 405.0|
|504|     Onslaught|  Male|      red|           Mutant|   No Hair| 305.0|Marvel Comics|         -|      bad| 405.0|
|217|     Destroyer|  Male|        -|                -|         -| 188.0|Marvel Comics|         -|      bad| 383.0|
|422|   Machine Man|     -|      red|                -|     Black| 183.0|Marvel Comics|         -|     good| 383.0|
|409|  Living Brain|     -|   yellow|                -|         -| 198.0|Marvel Comics|         -|      bad| 360.0|
| 33|    Anti-Venom|  Male|     blue|         Symbiote|     Blond| 229.0|Marvel Comics|         -|        -| 358.0|
|386|   Killer Croc|  Male|      red|        Metahuman|   No Hair| 244.0|    DC Comics|     green|      bad| 356.0|
+---+--------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
only showing top 20 rows

In [33]:
df.filter(df.Publisher == 'Marvel Comics').show()

+---+---------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|_c0|           name|Gender|Eye color|             Race|Hair color|Height|    Publisher|Skin color|Alignment|Weight|
+---+---------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|  0|         A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|Marvel Comics|         -|     good| 441.0|
|  3|    Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|Marvel Comics|         -|      bad| 441.0|
|  4|        Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|Marvel Comics|         -|      bad| -99.0|
|  5|  Absorbing Man|  Male|     blue|            Human|   No Hair| 193.0|Marvel Comics|         -|      bad| 122.0|
|  8|       Agent 13|Female|     blue|                -|     Blond| 173.0|Marvel Comics|         -|     good|  61.0|
|  9|      Agent Bob|  Male|    brown|            Human|     Brown| 178.0|Marvel Comics|         -|     good|  81.0|
| 10|     Agent Zero|  Male|        -|                -|         -| 191.0|Marvel Comics|         -|     good| 104.0|
| 11|     Air-Walker|  Male|     blue|                -|     White| 188.0|Marvel Comics|         -|      bad| 108.0|
| 12|           Ajax|  Male|    brown|           Cyborg|     Black| 193.0|Marvel Comics|         -|      bad|  90.0|
| 20|           Ammo|  Male|    brown|            Human|     Black| 188.0|Marvel Comics|         -|      bad| 101.0|
| 22|          Angel|  Male|     blue|                -|     Blond| 183.0|Marvel Comics|         -|     good|  68.0|
| 24|     Angel Dust|Female|   yellow|           Mutant|     Black| 165.0|Marvel Comics|         -|     good|  57.0|
| 25|Angel Salvadore|Female|    brown|                -|     Black| 163.0|Marvel Comics|         -|     good|  54.0|
| 28|      Annihilus|  Male|    green|                -|   No Hair| 180.0|Marvel Comics|         -|      bad|  90.0|
| 29|        Ant-Man|  Male|     blue|            Human|     Blond| 211.0|Marvel Comics|         -|     good| 122.0|
| 30|     Ant-Man II|  Male|     blue|            Human|     Blond| 183.0|Marvel Comics|         -|     good|  86.0|
| 33|     Anti-Venom|  Male|     blue|         Symbiote|     Blond| 229.0|Marvel Comics|         -|        -| 358.0|
| 34|     Apocalypse|  Male|      red|           Mutant|     Black| 213.0|Marvel Comics|      grey|      bad| 135.0|
| 38|        Arachne|Female|     blue|            Human|     Blond| 175.0|Marvel Comics|         -|     good|  63.0|
| 39|      Archangel|  Male|     blue|           Mutant|     Blond| 183.0|Marvel Comics|      blue|     good|  68.0|
+---+---------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
only showing top 20 rows

In [41]:
df.filter(df.Publisher == 'Marvel Comics').count()

388

In [42]:
df.groupby("PUblisher").count().show()

+-----------------+-----+
|        PUblisher|count|
+-----------------+-----+
|    Marvel Comics|  388|
|Dark Horse Comics|   18|
|        DC Comics|  215|
|     NBC - Heroes|   19|
|        Wildstorm|    3|
|     Image Comics|   14|
|      Icon Comics|    4|
|             SyFy|    5|
|    Hanna-Barbera|    1|
|     George Lucas|   14|
|     Team Epic TV|    5|
|       South Park|    1|
|    HarperCollins|    6|
|      ABC Studios|    4|
|Universal Studios|    1|
|        Star Trek|    6|
|   IDW Publishing|    4|
|         Shueisha|    4|
|    Sony Pictures|    2|
|    J. K. Rowling|    1|
+-----------------+-----+
only showing top 20 rows

In [43]:
df.registerTempTable("superheros")

In [47]:
sqlContext = SQLContext(sc)
sqlContext.sql("SELECT * FROM superheros").show()

+---+-----------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|_c0|             name|Gender|Eye color|             Race|Hair color|Height|        Publisher|Skin color|Alignment|Weight|
+---+-----------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|  0|           A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|    Marvel Comics|         -|     good| 441.0|
|  1|       Abe Sapien|  Male|     blue|    Icthyo Sapien|   No Hair| 191.0|Dark Horse Comics|      blue|     good|  65.0|
|  2|         Abin Sur|  Male|     blue|          Ungaran|   No Hair| 185.0|        DC Comics|       red|     good|  90.0|
|  3|      Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|    Marvel Comics|         -|      bad| 441.0|
|  4|          Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
|  5|    Absorbing Man|  Male|     blue|            Human|   No Hair| 193.0|    Marvel Comics|         -|      bad| 122.0|
|  6|      Adam Monroe|  Male|     blue|                -|     Blond| -99.0|     NBC - Heroes|         -|     good| -99.0|
|  7|     Adam Strange|  Male|     blue|            Human|     Blond| 185.0|        DC Comics|         -|     good|  88.0|
|  8|         Agent 13|Female|     blue|                -|     Blond| 173.0|    Marvel Comics|         -|     good|  61.0|
|  9|        Agent Bob|  Male|    brown|            Human|     Brown| 178.0|    Marvel Comics|         -|     good|  81.0|
| 10|       Agent Zero|  Male|        -|                -|         -| 191.0|    Marvel Comics|         -|     good| 104.0|
| 11|       Air-Walker|  Male|     blue|                -|     White| 188.0|    Marvel Comics|         -|      bad| 108.0|
| 12|             Ajax|  Male|    brown|           Cyborg|     Black| 193.0|    Marvel Comics|         -|      bad|  90.0|
| 13|       Alan Scott|  Male|     blue|                -|     Blond| 180.0|        DC Comics|         -|     good|  90.0|
| 14|      Alex Mercer|  Male|        -|            Human|         -| -99.0|        Wildstorm|         -|      bad| -99.0|
| 15|     Alex Woolsly|  Male|        -|                -|         -| -99.0|     NBC - Heroes|         -|     good| -99.0|
| 16|Alfred Pennyworth|  Male|     blue|            Human|     Black| 178.0|        DC Comics|         -|     good|  72.0|
| 17|            Alien|  Male|        -|  Xenomorph XX121|   No Hair| 244.0|Dark Horse Comics|     black|      bad| 169.0|
| 18| Allan Quatermain|  Male|        -|                -|         -| -99.0|        Wildstorm|         -|     good| -99.0|
| 19|            Amazo|  Male|      red|          Android|         -| 257.0|        DC Comics|         -|      bad| 173.0|
+---+-----------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
only showing top 20 rows